/localdata/**

# Keep specific files as samples
!/localdata/pokemon/
!/localdata/pokemon-species/

!/localdata/pokemon/197.json
!/localdata/pokemon/umbreon.json
!/localdata/pokemon/386.json
!/localdata/pokemon/deoxys-normal.json

!/localdata/pokemon-species/197.json
!/localdata/pokemon-species/386.json